<div>
  <div class="col-md-6 offset-3 user-container">
    <h2 class="text-center">Add Book</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" align="left">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control"
               id="title">
      </div>
      <br/>
      <div class="form-group">
        <label for="genre">Genre:</label>
        <input type="text" formControlName="genre" placeholder="Genre" name="genre" class="form-control"
               id="genre">
      </div>
      <br/>

      <div class="form-group">
        <label for="author">Author:</label>
        <input type="author" formControlName="author" placeholder="Author" name="author" class="form-control"
               id="author">
      </div>
      <br/>

      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="isbn" formControlName="isbn" placeholder="ISBN" name="isbn" class="form-control"
               id="isbn">
      </div>
      <br/>

      <div class="form-group">
        <label for="isbn">Cover URL:</label>
        <input type="isbn" formControlName="coverUrl" placeholder="Cover URL" name="coverUrl" class="form-control"
               id="coverUrl">
      </div>

      <br/>

      <div align="right">
        <button class="btn btn-success">✚ Add</button>
      </div>
    </form>
  </div>
</div>
