<div align="center" xmlns="http://www.w3.org/1999/html">
  <div align='center'>
    <h1>📃 Lists</h1>
  </div>

  <br/><br/>
  <div class="container">
    <div class="row" align="cebter">
      <div class="col-6 offset-3">
        <label>Search: </label>
        <input type="text" [(ngModel)]="listFilter" (keyup)="filterLists(listFilter)">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-6 offset-3">
        <table class="table-primary col-6" style="width: 100%">
          <tr class="table-primary">
            <th class="table-primary">Name</th>
            <th class="table-primary">Books</th>
            <th class="table-primary">Count</th>
            <th class="table-primary"></th>
          </tr>
          <tr *ngFor="let list of filteredLists" class="table-primary list-row">
            <td class="table-primary">
              {{list.name}}
            </td>
            <td class="table-primary">
              <img *ngFor="let book of list.books" src="{{book.coverUrl}}" height="80" width="50" style="padding-right: 2px"/>
            </td>
            <td class="table-primary">
              {{list.books.length}}
            </td>
            <td class="table-primary" align="right">
              <button (click)="viewList(list)" class="btn btn-primary" style="color: white">↓ View</button>
              &nbsp;
              <button (click)="editList(list)" class="btn btn-warning" style="color: white">✎ Edit</button>
              &nbsp;
              <button (click)="deleteList(list)" class="btn btn-danger">✕ Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br/><br/><br/>
    <div class="row" align="left">
      <p>
        <button (click)="addList()" class="btn btn-success">✚ Add List</button>
      </p>
    </div>
  </div>
</div>
